/**
 *
 * Author : isleap
 * Github : @isleap9
 *
 * Dracula Dark
 **/
* {
    background:     #21222cFF;
    background-alt: #282a36FF;
    foreground:     #f8f8f2FF;
    selected:       #bd93f9FF;   /* purple */
    active:         #50fa7bFF;   /* green */
    urgent:         #ff5555FF;   /* red */
}
