/**
 *
 * Author : isleap
 * Github : @isleap9
 *
 * Sleepy
 **/
* {
    background:     #242424FF;
    background-alt: #2e2e2eFF;
    foreground:     #e8e8e8FF;
    selected:       #baabe4FF;
    active:         #336633FF;
    urgent:         #cc3333FF;
}
