/**
 *
 * Author : isleap
 * Github : @isleap9
 *
 * E-Ink Dark
 **/
* {
    background:     #242424FF;
    background-alt: #2e2e2eFF;
    foreground:     #e8e8e8FF;
    selected:       #BAABE4;
    active:         #909090FF;
    urgent:         #cc3333FF;
}
