@import "/home/isleap/.config/waybar/themes/active.css";

* {
    all: unset;
    font-family: "Google Sans Display", "JetBrainsMono Nerd font Propo", "Rubik", "Noto Sans CJK JP", "Noto sans CJK KR";
}

tooltip {
    background-color: @bg1;
    color: @fg1;
    border-radius: 12px;
}
 
.modules-left {

}

.modules-center {
    background-color: @bg1;
    color: @fg1;
    border-radius: 99px;
    transition: all 300ms ease-in-out;
}

.modules-right {

}

#custom-arch {
    font-size: 20;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 50px;
    margin-left: 30px;
}

#custom-weather {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
}

#clock {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
    transition: all 300ms ease-in-out;
}

#mpris {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
    transition: all 300ms ease-in-out;
}

#workspaces {
    padding: 3px 4px;
    border-radius: 99px;
    margin: 3px 0px;
    font-size: 0.95rem;
    background-color: @bg1;
    transition: background-color 0.2s ease-in-out;
}

#workspaces button {
    border-radius: 99px;
    margin: 0px 4px;
    color: transparent;
    background-color: @bg3;
    transition: all 0.3s ease-in-out;
    min-width: 16px;
    min-height: 16px;
    padding: 5px 6px;
}

#workspaces button.empty {
    background-color: @bg2;
    min-width: 16px;
    min-height: 16px;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @accent;
    color: @bg1;
    min-width: 40px;
    min-height: 18px;
    padding: 5px 16px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @fg2;
    min-width: 35px;
    transition: all 0.3s ease-in-out;
}


#tray {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
}

#language {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
}

#pulseaudio {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
}

#network {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
}

#custom-swaync {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
}

#custom-power {
    font-weight: 900;
    background-color: @bg1;
    color: @fg1;
    padding: 4px 18px;
    border-radius: 99px;
    margin-right: 30px;
}

menu {
    background-color: @bg1;
    color: @fg1;
    border-radius: 10px;
    padding: 5px;
}

menuitem {
    background-color: @bg1;
    color: @fg1;
    padding: 5px 10px;
    border-radius: 6px;
}

menuitem label {
    color: @fg1;
}

menuitem:hover {
    background-color: @bg3;
}

menuitem:hover label {
    color: @fg1;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #c2ca76;
}

#custom-weather.clearNight {
    color: #2b2b2a;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.snowyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}
